body{
    background-color: #ebceca;
}

.main_heading{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 25px;
    color: #5d776c;
    font-size: 50px;
    font-family: "Playfair Display", serif;
  position: relative;
  bottom: 50px;
}


.paragraph{
    margin-left: 12px;
    margin-right: 15px;
    color: black;
    font-size: 30px;
   margin-top: 40px;
}

.group_photo img{
      height: 430px;
      padding-top: 20px;
      padding-right: 30px;
      
  }

  .table{
     position: relative;
     top: 150px;
  }

  .team{
      font-size: 28px;
      text-align: center;
  }
  
  .team_info{
      
      height: 50px;
      width: 800px;
      margin: auto;
      margin-top: 165px;
      
  }
  .heading{
      font-size: 50px;
      color:rgb(198, 139, 61);
      font-family: myfont;
      text-align: center;
      
  }  
  @font-face {
      font-family: myfont;
      src: url("./../fonts/font.otf");
    }
  
.container1{
    border: 1px solid black;
    width: 1270px;
    height: 630px;
    margin-top: 150px;
    margin-left: 45px;
    display: flex;
    flex-wrap: wrap;
    
}

.member{
    height: 300px;
    width: 240px;
    border: 1px solid rgb(167, 157, 157);
    margin: 6px;
   border-radius: 10px;
    box-shadow: 0px 1px 2px 0.5px gray;
    
}

.post{
    height: 160px;
    margin-left: 28px;
    margin-top: 12px;
}

/* phone */
@media (max-width: 600px) {
  .main_heading{
    padding-left: 5px;
    padding-top: 30px;
    color: #088179bd;
    font-size: 25px;
    font-family: "Playfair Display", serif;
  
  }

  .team_info{
      width: auto;
      font-size: 15px;
      margin-left:7px;
      margin-top: 10px;
  }

  .heading{
    font-size: 40px;
  }

.team{
    font-size: 20px;
}


}