.container{
    height:500px;
    width:800px;
    margin:50px auto;
    border-radius:10px;
    display:flex;
}
.contact-page1{
    width:50%;
    border:1px solid black;
    text-align:center;
    border-right:none;
    padding-left:10px;
    background-color:pink;
}
.contact-page2{
    width:50%;
    border:1px solid black;
    text-align: center;
    border-left:none;
    padding-left:10px;
    background-color:pink;

}