
  .container{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:  #ebceca;
}
.item{
    width: 300px;
    height: 200px; 
    margin: 10px;
    border-radius: 10px;
    border: solid rgb(228, 227, 227);
    }
.event1{

    width:300px;
    height: 200px;
    border-radius:5px;
    cursor: pointer;
    transition: 0.3s;
}
.event1:hover{
    color: black;
    transform: scale(1.1);
}
.simple-header {
  
    padding: 5px;
    text-align: center;
    background-color:  #ebceca;
    cursor: pointer;
    font-family: myfont;
}

.simple-header h2 {
    margin: 0;
    font-size: 2.5em;
    color: #088178; 
    font-family: myfont;
    cursor: pointer;
}
@font-face {
    font-family: myfont;
    src: url("./fonts/font.otf");
  }