
.navbar{
    background-color:  #ebceca ;
     display: flex;
     justify-content: space-evenly;
     position: sticky;
     height: 150px;
    
}
.nav-content{
    font-size: 25px;
    font-family: "crimson Pro";
    color: #088179bd;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
    padding-top: 50px;
}

.nav-content:hover{
transition: 0.2s;
    padding-top: 40px;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: #088178;
}