.container{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ebceca;
}
.item{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    border: solid rgb(228, 227, 227);
    }
.event1{

    width:300px;
    height: 200px;
    border-radius:5px;
    cursor: pointer;
    transition: 0.3s;
}
.simple-header {
    background-color: #f4e4d4; 
    padding: 5px;
    text-align: center;
    border-top: 1px solid #d2a679;;
    border-bottom: 1px solid #d2a679; 
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.simple-header h2 {
    margin: 0;
    font-size: 2.5em;
    color: #088178; 
    font-family: 'Cursive', serif;
    cursor: pointer;
}