body{
    background-color:  #eeeee4;
}

img{
    display: block;
    margin: 0 auto;
    height: 150px;
}

.receipt-container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.4 );
   
}

.receipt-header{
    background-color: #f1d1c2;

}

.color-box{
    height: 10px;
    width: 80%;
    margin: 0 auto;
    background-color: #5d776c;
}

span{
    background-color: #ebceca;
}
