@font-face {
    font-family: myfont;
    src: url("./../fonts/font.otf");
  }
  .review-container{
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    border-radius:10px ;
    height: 370px;
    width: 310px;
    padding: 10px;
   
    margin-bottom:15px ;
}