*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
.snip1517 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color:#ebceca;
  text-align: left;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 30px 10px;
}

.snip1517 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}

.snip1517 .plan {
  margin: 0 0.5%;
  width: 24%;
  padding-top: 10px;
  position: relative;